$color-yellow-primary: #FFE600;
$color-grey-primary: #323232;
$color-white: #fff;
$color-black: #000;

$font-basic: 'Roboto', sans-serif;

$sw-large: 100em;
$sw-big: 78.125em;
$sw-medium: 53.125em;
$sw-smaller: 43.75em;  